{% extends 'base.html.twig' %}
{% block body %}

<div id="meeting-name-error" class="alert alert-danger hidden" role="alert">
	  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	  <span class="sr-only">Please enter a meeting name</span>
	  Please enter a meeting name
</div>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Scheduler</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li class="glyphicon-container glyphicon-container-red active"><a href="#"><span class="glyphicon glyphicon-plus glyphicon-red"></span></a></li>
        <li class="glyphicon-container glyphicon-container-amber"><a href="#"><span class="glyphicon glyphicon-plus glyphicon-amber"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="active" id="half-hour-interval"><a href="#">30 minute intervals</a></li>
            <li id="hour-interval-hour"><a href="#">1 hour intervals on the hour</a></li>
			<li id="hour-interval-half-hour"><a href="#">1 hour intervals on the half hour</a></li>
            <li role="separator" class="divider"></li>
            <li class="active" id="show-hide-weekend"><a href="#">Show weekend</a></li>
			  
			  <li role="separator" class="divider"></li>
            <li id="show-hide-weekend"><a href="#" data-toggle="modal" data-target="#helpTips" class="alert-link">Help</a></li>
			  
<!--
            <li role="separator" class="divider"></li>
            <li><a href="#">Import from Google Calendar</a></li>
-->
          </ul>
        </li>
      </ul>
		
      <form class="navbar-form navbar-right">
        <div class="form-group" id="meeting-name">
          <input type="text" class="form-control" placeholder="Meeting Name">
        </div>
		  <button id="sendToInvitees" class="btn btn-primary" data-toggle="modal" data-target="#sendToInviteesModal">Share with Invitees</button>
      </form>
		
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="alert alert-info hidden alert-dismissible alert-guide" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Welcome! It looks like this is your first time here. &nbsp;</strong>
	<a href="#" data-toggle="modal" data-target="#helpTips" class="alert-link">Take 20 seconds to learn how it works.</a>
</div>

<!-- Help Tips Modal -->

<div id="helpTips" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">20 second tour</h4>
      </div>
      <div class="modal-body">
		  <p>Scheduler works by comparing your <em>anti-schedule</em> - times when you cannot or don't want to meet - with other group members</p>
		  <p>Fill out the schedule by clicking either the red or amber plus icons, and "painting" the grid.</p>
		  <p>The <span class="glyphicon-container glyphicon-container-red active"><a href="#"><span class="glyphicon glyphicon-plus glyphicon-red"></span></a></span> is used to paint "busy" times.</p>
		  <p>The <span class="glyphicon-container glyphicon-container-amber"><a href="#"><span class="glyphicon glyphicon-plus glyphicon-amber"></span></a></span> paints "inconvenient, but possible" times.</p>
		  <p>Blank slots are fair game for a meeting.</p>
		  <p>Right click or Shift+click to unpaint.</p>
		  <p>The slider controls the window of times your group members will see once you invite them to fill in their anti-schedules</p>
		  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="sendToInviteesModal" tabindex="-1" role="dialog" aria-labelledby="sendToInviteesModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Share "<span id="modal-title-insert"></span>" with others</h4>
      </div>
      <div class="modal-body">
        <div id="form-error-email" class="alert alert-danger hidden" role="alert">
		  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		  <span class="sr-only">Error:</span>
		  You must enter your email address, as well as at least one other...
		</div>
		<form>
			 <div class="form-group">
			<label for="exampleInputEmail1">Your email address</label>
			<input type="email" class="form-control" id="email0" value="youremail@abc.xyz" placeholder="Your email">
			</div>
		  <div class="form-group">
			  
			<label for="exampleInputEmail1">Include up to 7 email addresses</label>
			<div class="form-group"><input type="email" class="form-control" value="inviteeemail@abc.xyz" id="email1" placeholder="Email"></div>
			  <div class="form-group"><input type="email" class="form-control" id="email2" placeholder="Email"></div>
			  <div class="form-group"><input type="email" class="form-control" id="email3" placeholder="Email"></div>
			  <div class="form-group"><input type="email" class="form-control" id="email4" placeholder="Email"></div>
			  <div class="form-group"><input type="email" class="form-control" id="email5" placeholder="Email"></div>
			  <div class="form-group"><input type="email" class="form-control" id="email6" placeholder="Email"></div>
			  <div class="form-group"><input type="email" class="form-control" id="email7" placeholder="Email"></div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="sendInviteesSubmit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>

<div id="slider-range"></div>

<table id="table-half-hour" class="half-cell noselect">
	<tr class="days-of-week">
		<th>SCHED</th>
		{% for day in daysOfWeek %}
			<th class="day">{{ day }}</th>
		{% endfor %}
	</tr>
	{% for time in timeSlots %}
	<tr class="time-slot-row time-slot{{loop.index-1}}" >
		<td class="time-slot noselect">{{ time }}</td>
		{% for day in daysOfWeek %}
			<td data-time-slot="{{loop.parent.loop.index-1}}" data-day="{{loop.index-1}}" class="time-cell"></td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

<table id="table-hour-on-hour" class="full-cell noselect">
	<tr class="days-of-week">
		<th>SCHED</th>
		{% for day in daysOfWeek %}
			<th class="day">{{ day }}</th>
		{% endfor %}
	</tr>
	{% for time in timeSlots %}
		{% if (loop.index-1) is divisibleby(2) %}
			<tr class="time-slot-row time-slot{{loop.index-1}}" >
				<td class="time-slot noselect">{{ time }}</td>
				{% for day in daysOfWeek %}
					<td data-time-slot="{{loop.parent.loop.index-1}}" data-day="{{loop.index-1}}" class="time-cell"></td>
				{% endfor %}
			</tr>
		{% endif %}
	{% endfor %}
</table>

<table id="table-hour-on-half-hour" class="full-cell noselect">
	<tr class="days-of-week">
		<th>SCHED</th>
		{% for day in daysOfWeek %}
			<th class="day">{{ day }}</th>
		{% endfor %}
	</tr>
	{% for time in timeSlots %}
		{% if loop.index is divisibleby(2) %}
			<tr class="time-slot-row time-slot{{loop.index-1}}" >
				<td class="time-slot noselect">{{ time }}</td>
				{% for day in daysOfWeek %}
					<td data-time-slot="{{loop.parent.loop.index-1}}" data-day="{{loop.index-1}}" class="time-cell"></td>
				{% endfor %}
			</tr>
		{% endif %}
	{% endfor %}
</table>
{% endblock %}